.white-bg {
  border: 1px solid rgb(235, 232, 232);
  text-align: center;
  height: 100%;
  height: 70px;
  line-height: 70px;
}

.orange-bg {
  text-align: center;
  height: 100%;
  height: 70px;
  line-height: 70px;
  background-color: orange;
  border-bottom: 1px solid rgb(211, 211, 211);
  font-weight: bold;
  border: 1px solid rgb(235, 232, 232);
}

.gray-bg {
  text-align: right;
  vertical-align: middle;
  grid-column: span 4;
  background-color: gray;
  height: 70px;
  line-height: 70px;
  padding-right: 10px;
  color: white;
  font-size: x-large;
  border: 1px solid rgb(235, 232, 232);
}

.span-2 {
  grid-column: span 2;
}
